{{- $is_work := false -}}
{{- /* If we've already set this variable, keep it */ -}}
{{- if (hasKey . "is_work") -}}
{{-   $is_work = .is_work -}}
{{- else -}}
{{-   $is_work = promptBool "Is this a work machine" -}}
{{- end -}}
{{- $is_testing := true -}}

[data]
    is_work = {{ $is_work }}
    {{- if $is_work }}
    edb_subscription_token = {{ (bitwarden "item" "ea59ae1d-9f53-4453-b07d-b3fb008f4fff").login.password | quote }}
	{{- else }}
    edb_subscription_token = "not-set-on-home"
	{{- end }}

[git]
	autoCommit = true
	autoPush = true
