tap "homebrew/services"

# ---- SHARED resources ----
tap "dotenvx/brew"
brew "dotenvx/brew/dotenvx"
brew "direnv"
brew "bash"
brew "bash-completion"
brew "chezmoi"
brew "coreutils"
brew "cri-tools"
brew "curl"
brew "docker"
brew "git"
brew "gnu-getopt"
brew "go"
brew "gradle"
brew "helm"
brew "k3d"
brew "kind"
brew "neovim"
brew "node"
brew "perl"
brew "postgresql@18", restart_service: :changed, link: true
brew "python@3.13"
brew "qemu"
brew "reattach-to-user-namespace"
brew "tmux"
brew "watch"
brew "wget"
cask "adobe-digital-editions"
cask "bitwarden"
cask "dbeaver-community"
cask "docker-desktop"
cask "expressvpn"
cask "iterm2"
cask "logi-options+"
cask "microsoft-openjdk@21"
cask "notion"
cask "obsidian"
cask "vagrant"
cask "visual-studio-code"
cask "zoom"
cask "brave-browser"

# VS CODE Extensions now managed by Brew
vscode "arcanis.vscode-zipfs"
vscode "docker.docker"
vscode "dsznajder.es7-react-js-snippets"
vscode "github.copilot-chat"
vscode "mikestead.dotenv"
vscode "ms-azuretools.vscode-containers"
vscode "ms-azuretools.vscode-docker"
vscode "ms-python.debugpy"
vscode "ms-python.isort"
vscode "ms-python.python"
vscode "ms-python.vscode-pylance"
vscode "ms-python.vscode-python-envs"
vscode "ms-toolsai.jupyter"
vscode "ms-toolsai.jupyter-keymap"
vscode "ms-toolsai.jupyter-renderers"
vscode "ms-toolsai.vscode-jupyter-cell-tags"
vscode "ms-toolsai.vscode-jupyter-slideshow"
vscode "naco-siren.gradle-language"
vscode "redhat.java"
vscode "slevesque.vscode-zipexplorer"
vscode "vscjava.vscode-gradle"
vscode "vscjava.vscode-java-debug"
vscode "vscjava.vscode-java-dependency"
vscode "vscjava.vscode-java-pack"
vscode "vscjava.vscode-java-test"
vscode "vscjava.vscode-maven"
vscode "vscjava.vscode-spring-initializr"
vscode "vue.volar"
vscode "wmanth.jar-viewer"

{{- if not .is_work }}

# ---- HOME resources ----

# REDIS
#brew "redis", restart_service: :changed
#brew "redis", restart_service: :changed, link: true
#cask "redis-insight"

# CHESS
brew "stockfish"

# BOOKS
cask "calibre"

## GAMING
cask "discord"
cask "overlayed"
cask "steam"

# DRAWING
cask "gimp"

# MUSIC
cask "reaper"

{{- end }}

{{- if .is_work }}

# ---- WORK resources ----

# GOOGLE crap
cask "google-chrome"
cask "google-drive"

{{- end }}

